@media (max-width:630px) and (orientation:portrait) {
    #mag1:checked~main section {font-size:0.54em;}
    #mag2:checked~main section {font-size:0.81em;}
    #mag3:checked~main section {font-size:1.60em;} 
}
@media (max-width:630px) and (orientation:landscape) {
    #mag1:checked~main section {font-size:0.53em;}
    #mag2:checked~main section {font-size:0.70em;}
    #mag3:checked~main section {font-size:1.07em;}
}
@media (max-width:630px){
    #mag1:checked~nav .mag::before,
    #mag2:checked~nav label[for='mag1']::before,
    #mag3:checked~nav label[for='mag2']::before {
        content:'\f010';--h:0;--s:0%;}
    #mag1:checked~nav label[for='mag2']::before,
    #mag2:checked~nav label[for='mag3']::before,
    #mag3:checked~nav .mag::after {
        content:'\f00e';--h:0;--s:0%;}
    #mag2:checked~nav label[for='mag1'],
    #mag3:checked~nav label[for='mag2'] {
        display:inline-flex;--h:220;--s:60%;}
    #mag1:checked~nav label[for='mag2'],
    #mag2:checked~nav label[for='mag3'] {
        display:inline-flex;--h:40;--s:60%;}
    input[type=range] {
        display:none;}
}
@media (min-width:631px) {
    .mag::before,.mag::after {
        background:initial;}
    .mag::before {
        content:'\f010';--h:220;--s:60%;}
    .mag::after {
        content:'\f00e';--h:40;--s:60%;}
    #fixed:checked~main section {
        font-size:0.915vw !important;}
    #fixed:checked~nav .mag::before,#fixed:checked~nav .mag::after {
        content:'\f023';}
    input[type='range'] {
        display:initial;}
}
@media (orientation:landscape) {
    #mag1:checked~#fixed:checked~main section {font-size:0.915vw;}
}

.catalog {
    user-select:none;
}
#att:not(:checked)~section .att,
#bal:not(:checked)~section .bal,
#sta:not(:checked)~section .sta,
#def:not(:checked)~section .def,
#BSB:not(:checked)~section .BSB,
#MFB:not(:checked)~section .MFB {
    display:none;
}
#att:not(:checked)~.filter label[for=att],
#bal:not(:checked)~.filter label[for=bal],
#sta:not(:checked)~.filter label[for=sta],
#def:not(:checked)~.filter label[for=def],
#BSB:not(:checked)~.filter label[for=BSB],
#MFB:not(:checked)~.filter label[for=MFB] {
    filter:saturate(0%);
}
.filter img {
    height:4em;
    filter:drop-shadow(0 0 .5em white);
}
.filter img[src*=series] {
    height:5em;
}

figure {
    filter:drop-shadow(0 0 .4em hsla(0,0%,100%,.3));}
.day figure {
    filter:drop-shadow(.1em -.1em 0.3em hsla(0,0%,0%,.3));}
.day .catalog>a {
    box-shadow:0.15em -0.15em 0.2em hsla(0,0%,0%,0.3);
    text-shadow:0.05em -0.05em 0.4em hsla(0,0%,0%,0.2);
}
.symbol {
    text-shadow:0.1em -0.1em 0.1em hsla(0,0%,100%,0.7);}

.catalog {
    text-align:left;
    display:flex;flex-wrap:wrap;justify-content:center;
}
#fixed:checked~main .catalog {
    width:107.5em;
}
.catalog>a.none {
    display:none;
}
#fixed:checked~main .catalog>a {
    display:inline-block !important;
}
.catalog>a {
    display:inline-block;
    min-width:15em;max-width:15em;
    min-height:15em;max-height:15em;
    margin:0.15em;
    box-shadow:0 0 .3em .03em hsl(0,0%,50%);
    position:relative;
}
.catalog object {
    position:absolute;width:100%;height:100%;
    z-index:-1;
}

.info,.content {
    display:flex;align-items:center;
}
.info {
    height:3.2em;
    padding:0 0 0.15em 0.25em;
    overflow:hidden;
}
.symbol {
    min-width:2.5em;max-width:2.5em;height:2.5em;
    display:flex;justify-content:center;
}
h2 {
    min-width:150%;
    white-space:nowrap;
    text-align:center;
    color:transparent;-webkit-text-fill-color:transparent;
    background-color:hsl(0,0%,10%);
    -webkit-background-clip:text;-moz-background-clip:text;background-clip:text;
}
div[class|=name] {
    white-space:nowrap;
    min-width:11em;
    margin-left:.2em;
}
.name-col {
    display:flex;align-items:flex-end;
    margin-bottom:.05em;
}
.name-col :lang(ja) {
    display:block;
    margin-top:-.7em;
}
.name-row {
    display:flex;align-items:flex-start;flex-direction:column;
    margin-bottom:.15em;
    line-height:1.1em;
}
.name {
    line-height:1.2em;
}
.name sup {
    line-height:0;
}
.content {
    padding:.64em .5em .64em .55em;
    height:8.3em;
    justify-content:space-between;
}
.att {--c:200;--s:60%;}
.def {--c:130;--s:60%;}
.sta {--c:60;--s:60%;}
.bal {--c:350;--s:60%;}
.unk {--c:0;--s:0%;}
figure {
    width:6em;height:6em;
    margin:.5em;
    position:relative;
    background-size:contain !important;
    background-position:center !important;
    background-repeat:no-repeat !important;
}
dl,dt,dd {
    white-space:nowrap;
    line-height:0;
}
dl {
    display:flex;flex-direction:column;justify-content:space-between;
    width:6.5em;height:100%;
    padding:.6em 0;
}
dl>div {
    display:flex;justify-content:space-between;
}
dd {
    position:relative;
}
.stat-6 {
    text-align:center;
}
.stat-6>div {
    margin-left:.1em;
}
.day .stat-6>div {
    margin-left:.2em;
}
.stat-6>div:nth-of-type(even) {
    margin-right:1.2em;
}
.stat-6 dd {
    width:calc(12em/10/0.8);
}
.stat-5>div {
    margin:0 .7em 0 1.2em;
}
.day .stat-5>div {
    margin:0 .8em 0 1em;
}
.grams.stat-5 div:nth-of-type(4) dd {
    letter-spacing:-0.05em;
}
dl div:nth-of-type(4) dd {
    color:var(--w-color);
}
a:not([id]) dl div:nth-of-type(4) dd {
    color:inherit;
}
.heavy,.grams,.fusion {
    --w-color:black;
}
.light.grams {
    --w-color:#999;
}
.day .heavy,.day .grams,.day .fusion {
    --w-color:white;
}
.heavy-s div:nth-of-type(4) dd {
    --w-color:red;
    text-shadow:0 0 0.1em white;
}
.heavy-x div:nth-of-type(4) dd {
    color:hsl(270,80%,50%);
    text-shadow:0 0 0.1em white;
}
.stat-6.fusion div:nth-of-type(4) dd {
    font-style:italic;
    margin-right:.1em;
}
.stat-6[class*=heavy]:not(.grams) div:nth-of-type(4) dd {
    letter-spacing:-.1em;
    padding-right:.1em;
}
.stat-6 dd small {
    color:var(--on);
    width:100%;
    position:absolute;left:100%;
}
.stat-5 dd small {
    margin-left:0.2em;
    vertical-align:bottom;
}
.desc {
    padding:.4em calc(4.2em/.7/10);margin:0;
    text-align:justify;
    line-height:1.45em;
}

h2 {
    font-family:ANC,AN; }
h2.single {
    font-family:AN,ANC; }
h2.kanji {
    font-family:mono; }
:lang(yue) {
    font-family:Noto Sans TC,PingFang TC,Microsoft Jhenghei,sans-serif; font-weight:200; }
:lang(yue):not(:empty)::before {content:'〚';}
:lang(yue):not(:empty)::after  {content:'〛';}
:lang(yue)::before,:lang(yue)::after {vertical-align:-.06em;}
:lang(zh):not(:empty)::before {content:'『';}
:lang(zh):not(:empty)::after  {content:'』';}
.dash :lang(yue),.high :lang(yue),.metal :lang(yue),
.dash :lang(zh),.high :lang(zh),.metal :lang(zh),
.layer6s div[class|=name]>div:first-child {display:none;}

/*font-size*/
[lang]     {font-size:.9em;}
:lang(yue) {font-size:.75em;}

.name-row [lang]     {font-size:.71em;}
.name-row :lang(yue) {font-size:.65em;}

.layer1 [lang]     {font-size:.8em;}
.layer1 :lang(yue) {font-size:.7em;}

.layer6s :lang(en) {font-size:1.1em;}

:lang(yue)::before,:lang(yue)::after {font-size:1.2em;}

h2 {font-size:2em;}
h2.kanji {font-size:1.7em;}
a[id^=超].layer h2,#闇α h2,#光α h2 {font-size:1.8em;}
h2 sup {font-size:.65em;}
dt,dd {font-size:.8em;}
.desc {font-size:.69em;}

figure::before,figure::after {
    position:absolute;
}
#∞ figure::after,figure.right::after {
    content:"\f2f9";color:hsl(210,100%,50%);
    right:-.15em;top:-.2em;
}
#∞L figure::before,figure.left::before {
    content:"\f2ea";color:hsl(30,100%,50%);
    left:-.15em;top:-.2em;
}
figure.dash::before {
    content:'⌇';color:gold;
    left:-.3em;bottom:-.3em;
}
figure.metal::before {
    content:'✨';color:silver;
    left:-.1em;bottom:-.3em;
}
figure.high::after {
    content:'⇪';color:magenta;
    right:-.2em;bottom:-.3em;
}
figure.elec::after {
    content:'\f0e7';color:greenyellow;
    right:-.1em;bottom:-.1em;
}
figure.low::before {
    content:'\f181';color:darkgoldenrod;
    left:-.1em;bottom:-.1em;
}

h5 {
    font-size:1.5em;
    display:block;
}
h5:empty:not([data-icon])::after {
    content:'';
    background:url(/img/loader.svg) center no-repeat;
    background-size:contain;
    display:inline-block;width:2em;height:2em;
    margin:1em auto;
}
h5[data-icon]::after {
    content:attr(data-icon);
    font-size:2em;
    color:coral;
}

h5+details {
    position:relative;
    width:100%;
    margin-bottom:2em;
}
h5+details summary::before {
    content:'';
    background:hsl(0,0%,calc(var(--root-b)*2 - 50%));
    position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);
    border:.1rem solid var(--theme);border-radius:9em;
    width:2.5em;height:2.5em;
    z-index:-1;
}
h5+details summary::after {
    content:attr(data-icon);
    font-size:2em;
    color:var(--theme);
    vertical-align:middle;
}
h5+details summary {
    position:absolute;left:1.5em;top:0;transform:translate(0,-50%);
    z-index:1;
}
h5+details[open] {
    margin-bottom:1em;
}
h5+details summary::-webkit-details-marker {
    display:none;
}
h5+details article {
    text-align:justify;
    text-indent:4em;
    line-height:1.5;font-size:0.9em;
    padding:0.5em 1em;
    border-top:.1rem solid var(--theme);border-bottom:.1rem solid var(--theme);
}
h5+details article ul {
    padding-left:1.5em;
    text-indent:0;
    line-height:1.7;
}
h5+details article a {
    color:var(--theme);
}
h5+details i[data-icon]::before {
    content:attr(data-icon);
    color:darkgoldenrod;
}
dfn[class] {
    background:linear-gradient(-77deg,hsla(var(--c),70%,0%,0) 7%,hsl(var(--c),70%,var(--root-b)) 7%,hsl(var(--c),70%,var(--root-b)) 93%,hsla(var(--c),70%,0%,0) 93%);
    color:hsl(var(--c),70%,calc(90% - var(--root-b)/1.5));
    padding:0 1em 0 .8em;
}
dfn.double {--c:185;}
dfn.single {--c:140;}