:host label,:host label::before,div,div::after {
    display:flex;align-items:center;justify-content:center; }
:host,section {
    display:flex; }
:host {
    position:fixed;left:0;bottom:0;
    font-size:.8em;
    padding:.5em;
    z-index:5;
    background:hsla(var(--c),var(--s),calc(var(--b) + 5%),0.9);
}
label {
    position:absolute;
    font-size:2em;
    transition:0.5s;
}
label::before,label::after {
    border-color:hsl(var(--c),var(--s),55%);
    color:hsl(var(--c),var(--s),55%);background:hsl(var(--c),var(--s),90%);
}
label::before {
    content:'\f24e';
    border-radius:10em;border:0.1rem solid;
    width:1.8em;height:1.8em;
    z-index:1;
}
label::after {
    content:'';font-size:0;
    width:0;
    transition:0.5s;
}
#show:checked+label::after {
    content:'重量級別對應';font-size:0.5em;
    margin-left:-0.5em;
    width:8em;padding:0.3em 0;
    border:0.1rem solid;border-top-right-radius:5em;border-bottom-right-radius:5em;
}

section {
    transition:0.5s; }
section,div {
    position:relative; }
section::before,section::after,div::after,span {
    position:absolute; }
span,div::after {
    right:0; }
div {
    font-weight:bold;font-size:1.25em; }
:host[rel=layer4] div::after,
:host[rel=layer5] div::after {
    color:hsl(0,100%,calc(85% - var(--root-b)/3));
}
div[scale='9']~div {
    letter-spacing:-.1em;padding-right:.1em; }
:host[rel=layer4] div[scale='9']~div,
:host[rel=layer5] div[scale='9']~div {
    color:hsl(270,100%,calc(90% - var(--root-b)/3));
}
div::after {
    content:'';
    width:.3em;height:.3em;
    background:var(--on);
    border-radius:3em;
}
div:last-child::after {
    content:'克';
    font-size:.8em;
}
span {
    font-weight:initial;font-size:.8em;
    color:hsl(var(--c),80%,calc(80% - var(--b)/3));
}
span[fusion]::after {
    content:'\00a0'attr(fusion);
    color:hsl(calc((var(--c) + 230)/2),70%,calc(80% - var(--b)/3));
}

@media (orientation:landscape) and (min-width:750px) {
    :host {
        width:100%; }
    label[for='show'] {
        left:0;bottom:100%; }
    section {
        width:100%;height:4em;
        border-top:0.15em solid;
        transform:translate(0,100%); }
    #show:checked~section {
        transform:translate(0,0); }
    section::before {
        content:'\f104';left:0;top:0;transform:translate(-50%,-55%); }
    section::after {
        content:'\f105';right:0;top:0;transform:translate(50%,-55%); }
    div {
        width:20%;height:2em;
        padding-top:0.3em; }
    div:not(:last-of-type) {
        border-right:1px solid; }
    div::after {
        bottom:0;transform:translate(calc(1px + 50%),50%); }
    div:last-of-type::after {
        transform:translate(10%,110%); }
    span {
        bottom:0;transform:translate(calc(1px + 50%),100%);
        white-space:nowrap; }
}
@media (orientation:portrait),(max-width:749px) {
    :host {
        height:100%; }
    label[for='show'] {
        bottom:0;left:100%; }
    section {
        width:6em;height:calc(100% - 4.25rem);
        transform:translate(-100%,0);
        border-left:0.1em solid;
        flex-direction:column-reverse;justify-content:center; }
    #show:checked~section {
        transform:translate(0,0); }
    section::before {
        content:'\f106';left:0;top:0;transform:translate(-60%,-50%); }
    section::after {
        content:'\f107';left:0;bottom:0;transform:translate(-60%,50%); }
    div {
        height:20%;width:2.5em; }
    div:not(:last-of-type) {
        border-top:1px solid; }
    div::after {
        top:0;transform:translate(50%,calc(-0.05em - 50%)); }
    div:last-of-type::after {
        top:50%;right:-100%;transform:translate(0%,-50%); }
    span {
        top:0;transform:translate(120%,calc(-0.05em - 50%));
        line-height:1.1em; }
}
@media (orientation:landscape) and (max-width:749px) {
    :host {height:100%;}
}